<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    
<head>
	<title>Pesquisa doador</title>
</head>

<section layout:fragment="conteudo" >
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-titulo-panel">Pesquisa Doador</h1>
	   			<a class="btn btn-link aw-link-panel" th:href="@{/lifeblood/novo}">Novo doador</a>
	   		</div>
	   	</div>
	   	
	   	<div class="panel-body">
	   		
	   		
	   		<div class="table-responsive">
		   		<table class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th>Nome</th>
		   					<th class="text-center col-md-2">Tipo Sanguineo</th>
		   					<th class="text-right col-md-2">Idade</th>
		   					<th class="text-center col-md-2">Email</th>
		   					<th class="col-md-1"></th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="doador : ${doador}">
		   					<td class="text-center" th:text="${doador.id}">1</td>
		   					<td th:text="${doador.nome}"></td>
		   				    <td class="text-right" th:text="${doador.idade}"></td>
		   					<td class="text-center" th:text="${doador.email}">
		   						<span class="label" th:text="${doador.tipoSanguineo.sangue}"></span>
		   					</td>
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/lifeblood/{codigo}(codigo=${titulo.codigo})}" 
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
		   								th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
		   								title="Excluir" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs js-atualizar-status" th:if="${titulo.pendente}"
		   								title="Receber" rel="tooltip" data-placement="top"
		   								th:attr="data-codigo=${titulo.codigo}"
		   								th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
		   							<span class="glyphicon glyphicon-check"></span>
		   						</a>
		   					</td>
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum doador foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	   	</div>
	   	
	   	<div layout:include="DialogoConfirmacaoExclusao"></div>
	   	
	</div>
</section>
</html>
